/* Global Setting */

body {
    margin:0;
}

/* Header&Logo Styles */

header {
    height: 100px;
    background: lightseagreen;
    background-image: url("../img/pattern.png");
    background-size: contain;
    position: relative;
}

.logo {
    position: absolute;
    left: 5px;
    bottom: 5px;
}

/* Main Article Styles */
.wrapper {
    width: 80%;
    margin: auto;
}

h1 {
    font-size: 2em;
    font-weight: bold;
}

.marked_text {
    background-color: yellow;
}

.author {
    text-decoration: none;
    color: aqua;
    font-weight: bold;
}
/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: blue;
    color: white;
}
tr:nth-child(odd) {
    background-color: aquamarine;
}

.tab_row {
    width:25%;
}
.tab_row_big {
    width: 50%;
}

/* "Footer" Link to other style */